[user]
	email = prestonguillot@gmail.com
	name = Preston Guillot
[core]
	editor = vim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[alias]
	ignore = update-index --skip-worktree
	unignore = update-index --no-skip-worktree
	ignored = !git ls-files -v | grep "^S"
	cleanup = !git branch --merged | egrep -v \"(^\\*|master|develop|^\\s*keep-.*)\" | xargs git branch -d
	cleanup-hard = !git branch | egrep -v \"(^\\*|master|develop|^\\s*keep-.*)\" | xargs git branch -D
	cleanup-origin = !git branch -r --merged | grep -v master | grep -v develop | sed 's/origin\\///' | xargs -n 1 git push --delete origin
	cleanup-origin-hard = !git branch -r | grep -v master | grep -v develop | sed 's/origin\\///' | xargs -n 1 git push --delete origin
	retag = "!f() { git tag -d ${1}; git push origin :refs/tags/${1}; git tag ${1}; git push origin ${1}; }; f"
	tree = log --graph --oneline --all --decorate
[merge]
	tool = kdiff3
	conflictStyle = diff3
[diff]
	guitool = kdiff3
[pull]
	ff = only
[rebase]
	autosquash = true
[push]
	default = current
	autoSetupRemote = true
[fetch]
	prune = true
[credential]
	helper = osxkeychain
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[merge "mergiraf"]
	name = mergiraf
	driver = mergiraf merge --git %O %A %B -s %S -x %X -y %Y -p %P -l %L
[mergetool "kdiff3"]
	cmd = kdiff3 --L1 \"$BASE\" --L2 \"$LOCAL\" --L3 \"$REMOTE\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
[init]
	defaultBranch = main
[includeIf "gitdir:~/development/assets/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/development/shared/"]
	path = ~/.gitconfig-work
